Synchronize record set naming restrictions

**Motivation**
Since batch change is a more recent feature, it contains the most up-to-date validations for host name. This includes the length and valid characters within a label:
```
  def validateHostName(name: String): ValidatedNel[DomainValidationError, String] = {
    /*
      Label rules are as follows (from RFC 952; detailed in RFC 1034):
        - Starts with a letter, OR digit (as of RFC 1123)
        - Interior contains letter, digit or hyphen
        - Ends with a letter or digit
      All possible labels permutations:
        - A single letter/digit: [0-9a-zA-Z]{1}
        - A combination of 1-63 letters/digits: [0-9a-zA-Z]{1,63}
        - A single letter/digit followed by up to 61 letters, digits, hyphens or slashes
        and ending with a letter/digit:[0-9a-zA-Z]{1}[0-9a-zA-Z\-]{0,61}[0-9a-zA-Z]{1}
      A valid domain name is a series of one or more <label>s,
      joined by dots/slashes and terminating on a zero-length <label> (ie. dot)
     */
```
Currently, record set naming conventions only perform validations for dotted host and length.

**Scope of change**
Update record set naming validations to be consistent with our existing `DomainValidations` that are used in batch change.


Resolved by https://github.com/vinyldns/vinyldns/pull/587 and https://github.com/vinyldns/vinyldns/pull/633