batch create endpoint doesn't like long record names

**Describe the bug**
Was writing a func test and `testing-listing-batch-summaries-with-owner-group.shared.` failed due to the name being too long. Upon further inspection using a dev environment not on my local, and going through the portal, a 137 character record name on the batch screen does not get past our validations and fails with `Invalid domain name: "long-name-lalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalala.old-vinyldns2.", valid domain names must be letters, numbers, and hyphens, joined by dots, and terminated with a dot.`

This is strange because my `testing-listing-batch-summaries-with-owner-group.shared.` seemed to go through the validations and failed with a 500 on a sql error on the column length for batch name. So could be two separate issues with record name length: one being the validation stops records prematurely when the name gets past a certain point, and the other being our batch mysql repo column size does not support names past a certain point 

**VinylDNS Version**
0.8.0

**To Reproduce**
Steps to reproduce the behavior:
1. attempt to create a batch record with varying record name lengths



Looked into this briefly; I agree that there appear to be two separate issues.

In `BatchChangeValidations`, we are calling `validateHostName` which checks the input name against the valid FQDN regex, which also checks to verify that each label (ie. segment between dots) is valid. This is failing because the label `lalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalalala` is 122 characters, which exceeds the max of 63:

```
  def validateHostName(name: String): ValidatedNel[DomainValidationError, String] = {
    /*
      Label rules are as follows (from RFC 952; detailed in RFC 1034):
        - Starts with a letter, OR digit (as of RFC 1123)
        - Interior contains letter, digit or hyphen
        - Ends with a letter or digit
      All possible labels permutations:
        - A single letter/digit: [0-9a-zA-Z]{1}
        - A combination of 1-63 letters/digits: [0-9a-zA-Z]{1,63}
        - A single letter/digit followed by up to 61 letters, digits, hyphens or slashes
        and ending with a letter/digit:[0-9a-zA-Z]{1}[0-9a-zA-Z\-]{0,61}[0-9a-zA-Z]{1}
      A valid domain name is a series of one or more <label>s,
      joined by dots/slashes and terminating on a zero-length <label> (ie. dot)
     */
```

Using the name `long-label-lalalalalalalalalalalalalalalalalalalalalalalalalala.ok.` works, but gets the following error via API: 
```
Caused by: java.sql.SQLDataException: (conn=7) Data too long for column 'input_name' at row 1
	at org.mariadb.jdbc.internal.util.exceptions.ExceptionMapper.get(ExceptionMapper.java:225) ~[mariadb-java-client-2.3.0.jar:na]
	at org.mariadb.jdbc.internal.util.exceptions.ExceptionMapper.getException(ExceptionMapper.java:165) ~[mariadb-java-client-2.3.0.jar:na]
	at org.mariadb.jdbc.MariaDbStatement.executeBatchExceptionEpilogue(MariaDbStatement.java:286) ~[mariadb-java-client-2.3.0.jar:na]
	... 66 common frames omitted
java.sql.SQLException: Data too long for column 'input_name' at row 1
Query is: INSERT INTO single_change(id, seq_num, input_name, change_type, data, status, batch_change_id, record_set_change_id, record_set_id, zone_id) VALUES ('e4a9b1cd-46e9-4e91-8f46-b35a5f47ba53', 0, 'long-label-lalalalalalalalalalalalalalalalalalalalalalalalalala.ok.', 'SingleAddType', <bytearray:
SingleAddType2Clong-label-lalalalalalalalalalalalalalalalalalalalalalalalalala.ok.:ok.BAbabel-lalalalalalalalalalalalalalalalalalalalalalalalalala*
�

	
1.2.3.4>, 'Pending', '6e867338-6cd4-4b83-b032-b9b781b831ac', <null>, <null>, '86408a5f-05c4-4f6e-850a-dc6dc4830fc7')
java thread: MariaDb-bulk-5
	at org.mariadb.jdbc.internal.util.LogQueryTool.exceptionWithQuery(LogQueryTool.java:126) ~[mariadb-java-client-2.3.0.jar:na]
	at org.mariadb.jdbc.internal.protocol.AbstractQueryProtocol$1.handleResultException(AbstractQueryProtocol.java:625) ~[mariadb-java-client-2.3.0.jar:na]
	at org.mariadb.jdbc.internal.protocol.AsyncMultiRead.call(AsyncMultiRead.java:142) ~[mariadb-java-client-2.3.0.jar:na]
	at org.mariadb.jdbc.internal.protocol.AsyncMultiRead.call(AsyncMultiRead.java:66) ~[mariadb-java-client-2.3.0.jar:na]
	at java.util.concurrent.FutureTask.run(FutureTask.java:266) ~[na:1.8.0_172]
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149) ~[na:1.8.0_172]
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624) ~[na:1.8.0_172]
	at java.lang.Thread.run(Thread.java:748) ~[na:1.8.0_172]
```

Gotcha @mitruly, I would think maybe a good way to tackle this is ensure the sql table config is correct and we can make input names as long as needed using this card since that's more of a bug to me

Then maybe spin out another card to ensure we are correctly validating input name, and that we are doing it the same way in the `RecordSetService`, because in that I think we only check that the name is less than 255 characters in those endpoints 

@nimaeskandary Good call. I have created an issue card (https://github.com/vinyldns/vinyldns/issues/463) to synchronize the record name consistency between our batch and record set naming validations.

Discussed this a bit with @nimaeskandary - this is most likely due to our current `V2__BatchChange.sql` imposing a limit of 45 on `input_name`: `input_name VARCHAR(45) NOT NULL`

Confirmed locally that batch change succeeds with 45-character input name and fails with 46-character input name.

Per @nimaeskandary, adding a new migration script with something like the following should probably work:
`ALTER TABLE single_change ALTER COLUMN input_name VARCHAR(256) NOT NULL`

Note: we should ensure that the length of FQDNs is consistent across the various repos (eg. record set repository).